[Unit]
Description=raspi camera
After=network.target
Requires=network.target

[Service]
ExecStart=/root/raspi-tools/script.py /var/www/vratnice

[Install]
WantedBy=multi-user.target

