[Unit]
Description=raspi camera
After=network.target
Requires=network.target

[Service]
ExecStart=/root/raspi-tools/script.py /run/user/root

[Install]
WantedBy=multi-user.target

