[Unit]
Description=start ssh tunnel
After=network.target
Requires=network.target

[Service]
#Type=oneshot
ExecStart=/usr/bin/ssh root@ipaddr -R 4231:localhost:22 -NTC -o ExitOnForwardFailure=yes
#RestartPreventExitStatus=255
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target

